<template>
  <div class="home">
    <h1>
      {{ message }}
    </h1>
    <button @click="change">Click here</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {
  message: string = "Hello";
  change(): void {
    this.message = "Hello mn";
  }
}
</script>
